* {
    box-sizing: border-box;
}
header{
    display: flex;
    width: 100%;
    background-color: blue;
    justify-content: space-between;
}

h1{
    padding-left: 5% ;
}

nav{
    background-color: rgb(114, 10, 10);
    width: 100%;

}

button{
    float: right;
    color: blue;
    background-color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 5%;
    padding: 10px 10px;
  }
  button:hover {
      color: white;
      border: 1px solid white;
    background-color: blue;
  }
img{
    width: 75%;
}

article{
    width: 75%;
    height: auto;
}